html, body, #main_wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
}

#main_wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    /*background: #c0c0ff;*/
}

.header {
    display: flex;
    min-height: 7%;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #02478a;
    box-shadow: 0 0 15px 15px #02478a;
}

.header:hover {
    height: 20%;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: row;
    color: #d0d0d0;
}

.body_sidebar {
    display: flex;
    flex-direction: column;
    /*     background: #8080ff; */
    /*     border: 1px #6060ff solid; */
    /*     border-radius: 15px; */
    /*     box-shadow: 0 0 10px 10px #aaaaff; */
    margin: 30px 10px 30px -10px;
    padding: 15px 15px 15px 0;

    min-width: 5%;
}

.body_sidebar_element {
    display: flex;
    background: #02478a;
    /*border: 0 #2020b0 solid;*/
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #02478a;
    margin: 5px 5px;

    min-height: 64px;
    min-width: auto;

    padding-left: 20px;
}

.body_sidebar_element:hover {
    transform: scaleX(5);
}

.body_sidebar_element:hover:after {

}

.body_sidebar_element::after {
    content: "";
    display: block;
    position: relative;
    border: 2px red solid;

    height: 40px;
    width: 40px;
}

.body_content {
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 80%;
    /*     overflow: hidden; */
    /*     height: auto; */
}

.body_content pre {
    width: 100%;
    white-space: pre-wrap
}

.footer {
    border: none;
    min-height: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #02478a;
    box-shadow: 0 0 15px 15px #02478a;
}