html, body, #main_wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #c0c0ff55;
}

#main_wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    min-height: 20%;
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #8080ff;
    box-shadow: 0 0 15px 15px #aaaaff;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.body_sidebar {
    display: flex;
    flex-direction: column;
    /*     background: #8080ff; */
    /*     border: 1px #6060ff solid; */
    /*     border-radius: 15px; */
    /*     box-shadow: 0 0 10px 10px #aaaaff; */
    margin: 30px 10px 30px -10px;
    padding: 15px 15px 15px 0px;

    min-width: 15%;
}

.body_sidebar_element {
    display: flex;
    background: #404080;
    border: 1px #2020b0 solid;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #aaaaff;
    margin: 5px 5px;

    min-height: 64px;
    min-width: auto;

    padding-left: 20px;
}

.body_main {
    display: flex;
}

.footer {
    border: none;
    min-height: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #8080ff;
    box-shadow: 0 0 15px 15px #aaaaff;
}