html, body, #main_wrapper {

    height: 100%;

    margin: 0;
}

html {
    background-color: black;
}

body {

    display: flex;

    justify-content: center;

    align-items: center;

    background-image: radial-gradient(circle, #06b548 -10%, #02478a 25%, black 50%);

    background-position: center center;

    background-repeat: no-repeat;
}

#main_wrapper {

    display: flex;

    width: 1260px;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    margin-bottom: 0;

    background: transparent;
}

.login_form {

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    margin-bottom: 8%;
}

.login_form input {

    border: #33fd73c2 2px solid;

    border-radius: 10px;

    background: #130733;

    margin: 5px;

    box-shadow: 0 0 35px 1px #50f5a4;

    text-align: center;

    padding: 5px;

    outline: none;

    color: #00ff3e;

    font-weight: 600;

}

.login_form input[type="submit"] {

    color: #05bdbd;

}

.login_form input::placeholder {

    color: #05bdbd;

    text-shadow: none;

}

h2 {

    color: #130733;

    font-size: 24pt;

    font-weight: 500;
}

h3 {

    color: blue;

    font-size: large;

    font-weight: 400;
}