<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@{/js/jquery-1.12.4.js}" src="../static/js/jquery-1.12.4.js" type="text/javascript"></script>
    <script th:src="@{/js/sockjs.min.js}" src="../static/js/sockjs.min.js" type="text/javascript"></script>
    <script th:src="@{/js/stomp.min.js}" src="../static/js/stomp.min.js" type="text/javascript"></script>

    <script th:src="@{/js/un.js}" src="../static/js/un.js" type="text/javascript"></script>

    <link th:href="@{/css/un.css}" href="../static/css/un.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="res_bg" onclick="send()">
    <div class="res_amount">
        0/0
    </div>
</div>
<div class="control_panel">
    <input type="button" class="button" onclick="changeIncome('dec')" value="dec">
    <input type="button" class="button" onclick="changeIncome('inc')" value="inc">
</div>

<script type="text/javascript">
    connect();
</script>
</body>
</html>